# Data Analysis

Author: Branden Addicot <br>
Created on: 16 August 2020

In [1]:
#import Pandas and numpy
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('/home/branden/Projects/IBMCapstone/CSV/SC_Accident.csv', header=None, names=['Severity', 'Start_date', 'start_year', 'Start_Month', 'Start_day',  'Start_hour', 'Temperature', 'Visibility', 'Wind_Speed', 'Precipitation'])

In [12]:
df.head()

,Severity,Start_date,start_year,Start_Month,Start_day,Start_hour,Temperature,Visibility,Wind_Speed,Precipitation
0,2,20161130,2016,11,4,16,64.9,0.8,17.3,0.47
1,2,20161130,2016,11,4,17,63.0,4.0,10.4,0.36
2,3,20161130,2016,11,4,18,62.6,10.0,8.1,0.16
3,2,20161130,2016,11,4,19,64.0,10.0,9.2,0.00
4,2,20161130,2016,11,4,19,68.0,2.0,10.4,0.24